<!-- <mat-toolbar color="primary" class="text-center">
    <span class="title-project">Life Expectancy Data Visualization</span>
</mat-toolbar> -->

<div class="background-image">
    <div class="content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Welcome to Our Life Expectancy Data Visualization Project</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>This web application provides interactive visualizations of global life expectancy data as reported
                    by the World Health Organization.</p>
                <p>Explore trends, compare different countries, and discover more about the factors affecting life
                    expectancy around the world.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button class="creative-button" (click)="getStarted()">Get Started</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>